body {
  background: url('../img/radar.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: ROBOTECH GP;
  color: white;
  margin: 1em;
}


h1 {
  text-align: center;
}

  h1 a{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #059426), color-stop(100%, #06df38));
    text-decoration: none;
    color: white;
  }

    .highscore {
      font-size: 1.5em;
    }

    .lives {
      font-size: 1.5em;
    }
    
    .title {
      text-align: center;
      font-size: 3em;
    }

.container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  z-index: 9;
  position: relative;
}

    .outer-circle{
      position: absolute;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #eee;
      border: 3px solid #06df38;
      z-index: 0;
    }

    .target {
      position: absolute;
      top: 47%;
      left: 51%;
      width:150px;
      height: 25px;
      background: green;
      transform-origin:0px;
      z-index: 1;
    }

    .middle-circle{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 250px;
      height: 250px;
      margin-left: -125px;
      margin-top: -125px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #024a13), color-stop(100%, #06df38));
      border-radius: 50%;
      border: 3px solid #06df38;
      z-index: 2;
    }

    .inner-circle{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -56px;
      margin-top: -56px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #eee;
      z-index: 4;
    }

    .score {
      text-align: center;
      font-size: 2em;
      margin-top: 20px;
    }

      #count {
      text-align: center;
      font-size: 2em;
      }

    .vertical {
      position: absolute;
      top: 50%;
      width:306px;
      height: 4px;
      border-radius: 20px;
      background: #06df38;
      z-index: 6;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .horizontal {
      position: absolute;
      top: 50%;
      width:306px;
      height: 4px;
      border-radius: 20px;
      background: #06df38;
      z-index: 6;
    }

    .dial {
      position: absolute;
      top: 50%;
      left: 51%;
      width:145px;
      height: 4px;
      border-radius: 20px;
      background: black;
      transform-origin:0px;
/*animating through css*/
      z-index: 7;
    }

    .middle-circle/*, .target */{
      animation: spin 4s infinite linear ;
    }
    .reverse {
      animation-direction:reverse;
      transform:scaleX(-1);
    }

      @-webkit-keyframes spin {
        0% {
          transform: rotateZ(0deg);
        }
        100% {
          transform: rotateZ(360deg);
        }
    }
/*animating through css*/
